body{
    background-color: darkorange;
}
header{
    text-align: center;
}
img{
    width: 400px;
}
h2{
    text-decoration: underline;
}
table{
    width: 40%;
}
blockquote{
    font-style: italic;
}