body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hero > footer{
    display: flex;
    justify-content: space-between;
}

#featured > section{
    display: flex;
}
#featured > section > article > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#all-items > section > article {
    display: flex;
    align-items: center;
}