* {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin-left: 7%;
    margin-right: 7%;
    background-color: rgba(192, 192, 192, 0.1);
}

h1 {
    font-size: 2em;
}

h1#headline {
    font-size: 4em;
    margin-top: 0.15em;
    margin-bottom: 0.15em;
    color: #505355;
    border-bottom: solid 1px black;
}

h2 {
    font-size: 1.8em;
    line-height: 1.45em;
}

h3 {
    font-size: 1em;
    color: #00ADEE;
}

header img {
    height: 25px;
}

.student-gray {
    color: #505355;
}

.italic-text {
    font-style: italic;
}

#student-picture img{
    border-radius: 50%;
}

main#main-grid{
    display: grid;
    grid-template-areas:
    "headline     headline     picture "
    "quote        quote        picture"
    "profile      profile      contact"
    "experience   experience   experience";
    grid-template-columns: 341px 341px 341px;
    column-gap: 50px;
    row-gap: 20px;
    align-items: center;
}

#headline{
    grid-area: headline;
}

#student-picture{
    grid-area: picture;
    justify-self: center;
}

#student-quote{
    grid-area: quote;
}

#student-profile{
    grid-area: profile;
}

#student-contact{
    grid-area: contact;
    text-align: center;
}

div#experience-grid{
    display: grid;
    grid-area: experience;
    grid-template-areas: 
    "code code"
    "data data"
    "web  design";
    grid-template-columns: 512px 512px;
    row-gap: 20px;
    column-gap: 50px;
}

#experience-code{
    grid-area: code;
}

#experience-database{
    grid-area: data;
}

#experience-web{
    grid-area: web;
}

#experience-design{
    grid-area: design;
}

@media only screen and (max-width: 1024px){
    main#main-grid {
        grid-template-areas: 
        "headline    headline"
        "quote       picture"
        "quote       contact"
        "profile     profile"
        "experience  experience";
        row-gap: 20px;
        column-gap: 35px;
        grid-template-columns: 400px 400px;
    }
    div#experience-grid{
        grid-template-areas: 
        "code web"
        "data design";
        row-gap: 20px;
        column-gap: 20px;
        grid-template-columns: 400px 400px;
    }
}

@media only screen and (max-width: 450px){
    main#main-grid{
        grid-template-areas: 
        "headline"
        "picture"
        "contact"
        "quote"
        "profile"
        "experience";
    }
    div#experience-grid{
        grid-template-areas: 
        "code"
        "web"
        "data"
        "design";
    }
}
