body,
#hero > footer,
#featured > section,
#featured > section > article > div,
#all-items > section > article,
#all-items > section {
    display: flex;
}

#all-items > section {
    flex-direction: column;
}

#all-items > section > article > div:last-child {
    flex-basis: 80%;
}

body {
    flex-direction: column;
    align-items: center;
}

#hero > footer {
    justify-content: space-between;
}

#featured > section > article > div {
    /* align-items: center; */
    align-content: center;
    justify-content: center;
}

/* #featured > section > article > div {
    text-align: center;
} */

#all-items > section > article {
    align-items: center;
}

#all-items > section > article:nth-child(even) {
    flex-direction: row-reverse;
}

/* #all-items > section > article > div:first-child {
    / * Add border for temp debugging * /
    / * border: 3px solid yellow; * /
    vertical-align: middle;
} */

@media only screen and (max-width: 1024px) {
    #featured > section {
        flex-direction: column;
    }

    #featured section article:nth-child(even) {
        border-left: none;
        border-right: 0;
    }
}