html{
    height: 100%;
    font-size: 16px;
}

*{
    /*border: 1px solid #ec07078a;*/
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;

    background-image: linear-gradient(to bottom, #858c90, #bbb);    

    background-repeat: no-repeat;

    background-attachment: fixed;

    white-space: nowrap;
}

.trello-list {
    display: inline-block;

    width: 300px;

    background-color: #ddd;

    border-radius: 2px, 3px;

    vertical-align: top;
}

div.trello-list h2{
    margin: 8px;

    font-size: 1rem;

    font-weight: bold; 
}

.trello-list ol {
    margin: 0;
    padding: 0;
}

.trello-list li {
list-style: none;

background-color: white;

font-size: 0.9rem;

margin-bottom: 10px;

padding: 8px;
}

.trello-list ol li:hover {
    background-color: #f5f6f7;
    color: #092d42;
}