* {
  box-sizing: border-box;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

html {
  font-size: 16px;
}

body {
  background-color: rgba(192, 192, 192, 0.1);
}

ul {
  margin: 0;
  padding: 0;
}

aside{
  position: fixed;
  border-right: 1px solid rgba(0, 173, 238, 0.4);
  height: 100%;
  width: 200px;
}

aside>img{
  height: 120px;
  margin: 20%;
}

main{
  margin-left: 200px;
}

li{
  margin: 20px;
  text-transform: uppercase;
  border-bottom: solid 1px rgba(0, 173, 238, 0.4);
  text-align: center;
  list-style: none;
  font-weight: bold;
  padding:10px;
}

a{
  text-decoration: none;
  color: #00ADEE;
}

ul li:first-child{
  text-decoration: underline;
}

main> header > img {
  height: 100px;
  padding-bottom: 10px;
}

main > img{
  width: 100%;
}

main{
  padding-left: 20px;
  padding-right: 20px;
}

section > div {
  width: 33%;
}

section > div > h2{
  color: #8CC36F;
}

h2 > i{
  padding: 5px;
}

section div:not(:last-child){
  border-right: solid 1px rgba(170, 239, 135, 0.8);
}
section div{
  display: inline-block;
  padding-top: 2px;
}

div {
  padding: 5%;
}